<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Y</title>
</head>

<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Y</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:3000/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:3000/about">About</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:3000/contact">Contact</a>
            </li>
            </li>
        </ul>
        </div>
    </div>
</nav>
<h1>About</h1>
<h3>ClementeSoloG creator of the new trendeing social media.</h3>
<h4>Description:</h4>
<p id="descripcion">"I'm a 21-year-old Civil Engineering and Computer Science student at the Universidad de los Andes. I graduated from British High School. I enjoy sports, video games, One Piece 🐐, music, and dogs.
I mainly train in boxing and would like to start fighting amateurs."</p>
<nav aria-label="breadcrumb" id="footer">
    <div>
        <a>© 2025 ClementeSoloG. All rights reserved.</a>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Instagram</a></li>
        <li class="breadcrumb-item"><a href="#">Github</a></li>
        <li class="breadcrumb-item"><a href="#">Twitter</a></li>
        <li class="breadcrumb-item"><a href="#">Facebook</a></li>
    </ol>
    </div>
</nav>


</body>
</html>