
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 01 web</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    
</head>
<body>
<form>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input type="text" class="form-control"  placeholder="Armando Mesas">
  </div>
  <div class="mb-3">
    <label for="inputEmail3" class="form-label">Email address</label>
    <input type="email" class="form-control" id="inputEmail3" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>

  <div id="liveAlertPlaceholder"></div>
  <button type="submit" class="btn btn-primary" id="btnAlertContact">Submit</button>
</form>

<nav aria-label="breadcrumb" id="footer">
    <div>
        <a>© 2025 ClementeSoloG. All rights reserved.</a>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Instagram</a></li>
        <li class="breadcrumb-item"><a href="#">Github</a></li>
        <li class="breadcrumb-item"><a href="#">Twitter</a></li>
        <li class="breadcrumb-item"><a href="#">Facebook</a></li>
    </ol>
    </div>
</nav>

</body>
</html>