<h1>Messages</h1>
<ul>
<% @messages.each do |message| %>
<li>Chat ID:<%= link_to(message.chat_id, message_path(message))%></li>

<% end %>
</ul>

<h2><%= link_to "Create new message", new_message_path%></h2>
